/* Basics */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Lato', sans-serif;
    line-height: 1;
    box-sizing: border-box; /* Added to include padding and border in element's total width and height */
}

body {
    background-color: #F5F6F8;
    overflow: auto;
    margin: 0; /* Added to reset default margin */
}

/* Color Variables */
.sidebar-navigation {
    display: flex; /* Changed to flex for responsiveness */
    justify-content: center; /* Centers the ul horizontally */
    align-items: center; /* Centers the ul vertically */
    min-height: 30%;
    background-color: #313443;
}

.sidebar-navigation ul {
    display: flex; /* Added to make the list items flex items */
    flex-direction: column; /* Stacks the list items vertically */
    align-items: center; /* Centers the list items horizontally */
    justify-content: center; /* Centers the list items vertically */
    height: 100%; /* Ensures the list takes up the full height of the navigation */
    color: white;
}

.sidebar-navigation ul li {
    padding: 100%;
    cursor: pointer;
    transition: all ease-out 120ms;
    position: relative; /* Added for tooltip positioning */
    
}

.sidebar-navigation ul li i {
    display: block;
    font-size: 24px;
    transition: all ease 450ms;
}

.sidebar-navigation ul li .tooltip {
    display: inline-block;
    position: absolute;
    background-color: #313443;
    padding: 8px 15px;
    border-radius: 3px;
    margin-top: -26px;
    left: calc(100% + 10px); /* Changed to adapt tooltip position */
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    letter-spacing: .5px;
}

.sidebar-navigation ul li:hover {
    background-color: #22252E;
}

.sidebar-navigation ul li:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.sidebar-navigation ul li.active {
    background-color: #22252E;
}

.sidebar-navigation ul li.active i {
    color: #98D7EC;
}

/* Media Query for responsiveness */
@media screen {
    .sidebar-navigation {
        width: 10%;
    }
}
